<h2>New Order</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <div class="form-group">
    <label for="status">What's the order status?</label><br>
    <input type="radio" name="status" value="1" checked> New order<br>
    <input type="radio" name="status" value="0"> Eaten
  </div>

  <button type="submit">Add Order</button>
</form>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{> burger devoured=true name=this.name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      {{> burger devoured=false name=this.name}}
    {{/if}}
  {{/each}}
</ul>


