<h3>Add the burgers you would like to eat. Once you've eaten it, move it to the devoured section.</h3>
<form class="create-form">

  <div class="form-group">
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <div class="form-group">
    <input type="hidden" name="status" value="1">
  </div>

  <button type="submit">Add Order</button>
</form>

<h4>To Be Eaten</h4>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      {{> burger devoured=false name=this.name}}
    {{/if}}
  {{/each}}
</ul>

<h4>Devoured Burgers</h4>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{> burger devoured=true name=this.name}}
    {{/unless}}
  {{/each}}
</ul>


