body {
  background-color: #92D1C3;
}

main {
  margin: 0 auto;
  width: 70%;
}

h1, h4 {
  text-align: center;
}

header{
  margin-bottom: 40px;
  padding: 15px;
}

li {
    padding: 5px;
    margin: 5px;
    list-style: none;
}

ul {
  padding: 5px;
  display: inline-block;
  width: 45%;
}
  
.label {
    font-weight: bold;
}
  
.create-form {
    padding: 5px;
    margin: 5px;
}
  
@media only screen and (max-width: 600px) {
  ul {
    width: 100%;
  }
}